# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Data
*.json
paths/
notes/

# build files
build/
.gradle/
.project
.classpath
.settings/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# temporary maps
.temp*/
logs/

# IntelliJ IDEA
.idea/

# Eclipse
.metadata/

# SimpleReedsSheppCarPlanner 
SimpleReedsSheppCarPlanner/CMakeCache.txt
SimpleReedsSheppCarPlanner/CMakeFiles/
SimpleReedsSheppCarPlanner/Makefile
SimpleReedsSheppCarPlanner/cmake_install.cmake
SimpleReedsSheppCarPlanner/install_manifest.txt
SimpleReedsSheppCarPlanner/libsimplereedssheppcarplanner.so

# Result .txt files
src/main/java/se/oru/coordination/coordination_oru/results/*

# Test Files
src/main/java/se/oru/coordination/coordination_oru/scenarios/Test.java

logprocessing/csvtk
