# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Data
*.json
paths/
notes/

# build files
build/
.gradle/
.project
.classpath
.settings/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# temporary maps
.temp*/
logs/
tmp/

# IntelliJ IDEA
.idea/

# Eclipse
.metadata/

# SimpleReedsSheppCarPlanner 
SimpleReedsSheppCarPlanner/CMakeCache.txt
SimpleReedsSheppCarPlanner/CMakeFiles/
SimpleReedsSheppCarPlanner/.cmake
SimpleReedsSheppCarPlanner/Makefile
SimpleReedsSheppCarPlanner/cmake_install.cmake
SimpleReedsSheppCarPlanner/build-*
SimpleReedsSheppCarPlanner/Point2DPlanning
SimpleReedsSheppCarPlanner/.ninja*
SimpleReedsSheppCarPlanner/*.ninja
SimpleReedsSheppCarPlanner/tmp/
SimpleReedsSheppCarPlanner/resources/

# ompl-test
ompl-test/CMakeCache.txt
ompl-test/CMakeFiles/
ompl-test/Makefile
ompl-test/cmake_install.cmake
ompl-test/install_manifest.txt
ompl-test/demo_Point2DPlanning
ompl-test/*.ppm
ompl-test/cmake-build-debug
ompl-test/*~
ompl-test/graph-tool/
ompl-test/original-ompl-examples/

map-generator/generated-maps
map-generator/old
screenshotting/screenshots
scenario-analysis/images

# Result .txt files
src/main/java/se/oru/coordination/coordination_oru/results/*

# Test Files
src/main/java/se/oru/coordination/coordination_oru/scenarios/Test.java

logprocessing/csvtk
